form .form-group > label, 
form .form-group > div {
  float: left;
  width: 148px;
  margin: 8px 0;
}

form > .form-group > select,
form > .form-group > div ul, /* chosen */
form > .form-group > input {
  float: left;
  max-width: 660px;
  margin: 2px 0;
}
form > div > div.chosen-container-multi > ul.chosen-choices li.search-field {
  margin: 3px 5px 3px 12px;
}
form > div > div.chosen-container-multi > ul.chosen-choices li.search-choice {
  margin: 6px 5px 5px 1px;
}
.form-group {
  margin-bottom: 2px;
}
form > div > div.chosen-container {
  margin: 2px 0;
  max-width: 440px;
}
form > div,
form > div.form-group {
  display:block;
  clear:both;
}
div.divider {
  border-top: 1px solid Black;
}
#output {
  margin-top: 28px;
  font-size: 160%;
}
#output .error {
  color: Red;
}
#output > div {
  margin-top: 18px;
}
#authzlink {
  overflow-wrap: break-word;
}
#authzRedemption {
  border: 1px dotted Grey;
  padding: 4px 12px;
}
#authzRedemption > button {
  margin: 4px 12px;
}
#redeemCode, #redeemResult {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 80%;
  padding: 2px 4px;
  border: 1px dotted Grey;
  border-radius: 2px;
  background-color: aliceblue;
}
body {
  font-size: 132%;
}

.cb-element {
  /* max-width: 880px;*/
  display:block;
}

.cb-element:after {
  /* clearfix */
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.cb-element .cb-label {
  float: left;
  width: 234px;
}

.cb-element .cb-value  {
  float: left;
  max-width: 520px;
  font-family: monospace;

  /* all below, to handle really long JWTs */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}
.cb-element .jwt-decoded {
  float: left;
  margin-left: 14px;
  max-width: 720px;
  font-size: 80%;
}

.jwt-decoded > div {
  position:relative;
}
.jwt-decoded .btn-copy {
  position: absolute;
  top: 4px;
  left: 680px;
}


.cb-element .jwt-decoded pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    border: 1px dotted lightblue;
    padding: 2px 4px;
}

.jwt-header {
  color: #fa003a;
}
.jwt-payload {
  color: #b100ff;
}
.jwt-signature {
  color: #3184fb;
}

.btn-copy {
  padding: 2px 6px;
  margin: 0 4px;
  float: right;
  top: 12px;
  position: relative;
}

#preBox pre {
white-space: pre-wrap;
}

.form-group > div {
  position: relative;
  float:left;
  width:192px;
}

form .form-group > div > button {
  float: right;
}

.form-group > div .btn-reload {
  top:-2px;
  position:relative;
  margin-right: 6px;
}

.copy-to-clipboard-flash-bg {
    animation-name: flashbg;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

@keyframes flashbg {
    0% {
        background: #539EDB;
    }
    100% {
        background: transparent;
    }
}
