body, html {
  margin-left:10px;
  height: 100%;
  display: grid;
}

h2 {
  color: #004D7A;
}

h1 {
  color: #017FC8;
}

body > div,
body button {
  margin: 4px auto;
  font-size:32px;
}

.cell {
  border: 1px dotted gray;
  display: inline-block;
  width: 180px;
  line-height: 180px;
  height: 180px;
  font-size:48px;
}
.data {
  margin: auto;
  text-align: center;
}
.row {
  height: 180px;
}

body button {
  max-width:280px;
  max-height:48px;
}

/*
.hidden {
  color:#DCDCDC;
}
*/

.visible {
  display:block;
}
.hidden {
  display:none;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.80); /* Black background with opacity */
  z-index: 2;
  cursor: pointer;
  padding: 24px;
  color: #FFF;
}
