body {
  font-size: 180%;
}
body > div {
  display: flex;
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
}
form div label {
  float: left;
  width: 148px;
  margin: 0px 0;
}
form > div > select,
form > div > textarea,
form > div > input {
  float: left;
  max-width: 860px;
  margin: 2px 0;
}
form > div.pbkdf2 > .form-control {
  max-width: calc(860px - 148px);
}
form > div.pbkdf2 > label {
  font-size: 74%;
}
form > div,
form > div.form-group {
  display:block;
  clear:both;
  /* border-bottom: 1px grey dotted; */
}
.pbkdf2 {
  margin-left: 148px;
}
#output, #notes {
  display:block;
  border-color: White;
  border-style: solid;
  border-width: 1px;
  margin-top: 24px;
}
.notes {
  border-top:  thick double #32a1ce;
  font-size:50%;
  color: #565656;
}
#output > div {
  margin-top: 16px;
}

#output > div > div:last-of-type {
  border: 1px dotted Grey;
  max-width: 1248px;
  width: 1248px;
  margin: 2px 0;
  padding: 4px 10px;
  font-size: 75%;
  float: left;
}
.code {
  font-family: "Consolas", "Courier New", Courier, monospace;
}
.encodedresults {
  overflow-x: hidden;
}
#key.notshown,
#keylabel.notshown,
#output.notshown > div > div {
  display: none;
}
#key.shown,
#keylabel.shown,
#output.shown > div > div {
  display: block;
}
#output > div .copyIconHolder {
  /* https://fonts.google.com/icons?selected=Material+Icons */
  content: url('images/ic_content_copy_black_24dp_1x.png');
  padding-right: 5px;
  top: 2px;
  position: relative;
  margin-top: 4px;
}
#output > div:after {
  content: "";
  display: table;
  clear: both;
}
.disabled {
  color:  #F1F1f1;
  background: none repeat scroll 0 0 #DCDCDC;
  cursor: default !important;
}
input[type="radio"] {
  vertical-align: middle;
  margin-top: 8px;
}
input[type="radio"] + div {
  display:block;
  margin-left:166px;
}
input[type="checkbox"] {
  vertical-align: middle;
  margin-top: 14px;
}
form > div > select {max-width:120px;}

.copy-to-clipboard-flash-bg {
    animation-name: flashbg;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

@keyframes flashbg {
    0% {
        background: #539EDB;
    }
    100% {
        background: transparent;
    }
}

::placeholder {
  color: #539EDB;
  font-style: italic;
}

.expand {
  /* https://fonts.google.com/icons?selected=Material+Icons */
  content: url('images/baseline_expand_more_black_24dp.png');
  padding-right: 5px;
  float: left;
  margin-top: 4px;
}
.collapse {
  /* https://fonts.google.com/icons?selected=Material+Icons */
  content: url('images/baseline_expand_less_black_24dp.png');
  padding-right: 5px;
  float: left;
  margin-top: 4px;
}
