body {
  font-size: 100%;
  font-family: Roboto, Arial;
}
form div label {
  float: left;
  width: 148px;
  margin: 8px 0;
}
form > div > select,
form > div > div ul, /* chosen */
form > div > input {
  float: left;
  max-width: 660px;
  margin: 2px 0;
}
form > div,
form > div.form-group {
  display:block;
  clear:both;
}
div.divider {
  border-top: 1px solid Black;
}
#output {
  margin-top: 28px;
  font-size: 160%;
}
#output .error {
  color: Red;
}
#output > div {
  margin-top: 8px;
  margin-bottom: 4px;
  border: 1px dotted Grey;
  padding: 4px;
}
#output .label {
  float:left;
  width: 20%;
}

#output .value {
  float:left;
  max-width: 78%;
  /* all below, to handle display of really long data */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}

#output > .item:after {
  /* clearfix */
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.visible {
  display:block;
}
.hidden {
  display:none;
}

#output .value.token {
  font-size: 48%;
}

.jwt-header {
  color: #fa003a;
  margin: 0px;
}

.jwt-payload {
  color: #b100ff;
  margin: 0px;
}

.jwt-signature {
  color: #3184fb;
}

.value pre.jwt-header, .value pre.jwt-payload {
  font-size:80%;
}

.item .icon {
  display: block;
  max-width: 25px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
}

.item .icon img {
  max-width: 25px;
}
