body {
  max-width: max-content;
  margin: 32px auto;
}

.maincontainer {
  width: 1024px;
}

.hidden {
  display: none;
}

.visible {
  display: auto;
}

input.form-control, div.form-control, select.form-control {
  max-width: 440px;
}

input.form-control, div.form-control, select.form-control {
  display: inline-block;
}

.flexboxcontainer {
  display: flex;
  width: 100%;
}

.leftcolumn { }

.rightcolumn {
  margin-left: 12px;
}

form {
  padding: 10px;
  border: 1px solid #dedede;
  width: 392px;
}

#message {
  margin-bottom: 24px;
}


#form-send {
  margin-top: 42px;
}

.form-group label {
  min-width: 120px;
  margin-left: 2px;
  margin-bottom: 2px;
}

form textarea {
  display: block;
  width: 100%;
  min-height: 96px;
  height: 96px;
  padding: 6px;
}

#form-opa-send textarea {
  min-height: 128px;
  height: 188px;
}

.output textarea {
  min-width: 620px;
  min-height: 836px;
  background: #fff8dc;
  padding: 6px;
}

.form-group:hover > .tooltip {
  display:block;
}

.tooltip {
  display: none;
  color: #00008b;
  border: 1px dotted #dcdcdc;
  padding:2px 4px;
  background: rgba(179, 215, 255, 1);
  margin-left: 32px; /* moves the tooltip to the right */
  margin-top: 4px; /* moves it down */
  position: absolute;
  z-index: 1000;
  opacity: 1.0;
}

.button-group {
  margin-top:12px;
}

.spaced-sm p {
  margin-bottom: 2px;
  margin-top: 12px;
}

.form-group label {
  margin-top: 8px;
  text-transform: uppercase;
  font-size: 75%;
}
